joblib==1.4.2
matplotlib==3.9.1
mesa==2.3.1
nashpy==0.0.41
numpy==2.0.0
pandas==2.2.2
SALib==1.5.0
scikit_learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
toml==0.10.2
tornado==6.4.1
tornado==6.3.3
tqdm==4.66.4
