<!DOCTYPE html>
<html>
  <head>
    <title>{{ model_name }}</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <script src="custom_visualization.js"></script>
  </head>
  <body>
    <h1>{{ model_name }}</h1>
    <div id="elements">
      {% for element in elements %}
      <div id="{{ element.name }}" class="container"></div>
      {% endfor %}
    </div>
    <div
      id="tooltip"
      style="
        position: absolute;
        display: none;
        background: white;
        border: 10px solid black;
        padding: 5px;
        z-index: 10;
      "
    ></div>
    <script>
      var model_params = {{ model_params | safe }};
      var visualization_elements = [
          {% for element in elements %}
          {
              "name": "{{ element.name }}",
              "type": "{{ element.type }}",
              "params": {{ element.params | safe }}
          },
          {% endfor %}
      ];
      var grid = new grid.ModularServer(model_name="{{ model_name }}",
                                        visualization_elements=visualization_elements,
                                        model_params=model_params);
    </script>
  </body>
</html>
